<app-header [header]="header"></app-header>
<mat-progress-bar mode="indeterminate" color="warn" *ngIf="!isTableLoaded"></mat-progress-bar>
<div>
    <mat-card *ngIf="isTableLoaded">
        <mat-card-header>
            <mat-card-title>Top 10 Affected Countries</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-stats-table [tableDataSource]="data.locations"></app-stats-table>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="isTableLoaded">
        <mat-card-header>
            <mat-card-title>Top 10 Affected Countries</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-stats-table [tableDataSource]="data.locations"></app-stats-table>
        </mat-card-content>
    </mat-card>
</div>



<p>All data is retrieved using <a href="https://github.com/ExpDev07/coronavirus-tracker-api">https://github.com/ExpDev07/coronavirus-tracker-api</a> Web API which retrieves it's data from <a href="https://github.com/CSSEGISandData/COVID-19">https://github.com/CSSEGISandData/COVID-19</a>.</p>

<p>Data is retrieved every {{ updateInterval }} minutes.</p>
