<mat-progress-bar mode="indeterminate" color="accent" *ngIf="!dataStore.isTableLoaded"></mat-progress-bar>
<div class="container">
    <mat-card *ngIf="dataStore.isTableLoaded" class="overview">
        <mat-card-header>
            <mat-card-title>Overview</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Total Cases: {{ dataStore.rawData.cases}}</p>
            <p>Total Deaths: {{ dataStore.rawData.deaths }}</p>
            <p>Total Recovered: {{ dataStore.rawData.recovered }}</p>
            <button mat-raised-button disabled color="primary">See Timeline Graph</button>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="dataStore.isTableLoaded" class="sa">
        <mat-card-header>
            <mat-card-title> South Africa</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Total Cases: {{ dataStore.southAfrica.TotalCases }}</p>
            <p>Total Deaths: {{ dataStore.southAfrica.TotalDeaths }}</p>
            <p>Total Recovered: {{ dataStore.southAfrica.TotalRecovered }}</p>
            <button mat-raised-button disabled color="primary">See Timeline Graph</button>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="dataStore.isTableLoaded" class="table">
        <mat-card-header>
            <mat-card-title>Top 10 Affected Countries <button mat-raised-button color="primary" class="add-margin" routerLink="table-all-locations">See All</button></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-stats-table [tableDataSource]="dataStore.topTenLocations"></app-stats-table>
        </mat-card-content>
    </mat-card>
</div>
