<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <span>{{ header }}</span>
  </mat-toolbar-row>
</mat-toolbar>


<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="snackBar.openAbout()">
    <mat-icon>info</mat-icon>
    <span>About</span>
  </button>
  <button mat-menu-item>
    <mat-icon>data_usage</mat-icon>
    <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">Data Repository</a>
  </button>
  <button mat-menu-item routerLink="">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item>
    <mat-icon>public</mat-icon>
    <a href="https://github.com/ExpDev07/coronavirus-tracker-api" target="_blank">Web API Repository</a>
  </button>
  <button mat-menu-item>
    <mat-icon>public</mat-icon>
    <a href="https://github.com/coenraadhuman/COVID-19_SA-Dashboard" target="_blank">Web Application Repository</a>
  </button>
</mat-menu>
