<div>
    <mat-card>
        <app-card-title [prefix]="formattedPrefix" [translationKey]="'TITLES.TIMELINE'"></app-card-title>
        <mat-card-content>
            <app-progress-bar [loadState]="loaded && isTotalCasesLoaded && isTotalDeathsLoaded && isTotalRecoveredLoaded"></app-progress-bar>
            <app-line-chart *ngIf="loaded && isTotalCasesLoaded && isTotalDeathsLoaded && isTotalRecoveredLoaded" [data]="multiLineData"></app-line-chart>
        </mat-card-content>
    </mat-card>
</div>

