<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <span>{{ "MENU.HEADER" | translate }}</span>
    <button mat-icon-button routerLink="">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="snackBar.openAbout()">
    <mat-icon>info</mat-icon>
    <span>{{ "MENU.ABOUT" | translate }}</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="infoMenu">
    <mat-icon>public</mat-icon>
    <span>{{ "MENU.EXTERNALINFORMATION" | translate }}</span>
  </button>
  <app-custom-icon-anchor-menu-button [name]="'MENU.GITHUB' | translate" link="https://github.com/coenraadhuman/COVID-19_SA-Dashboard" iconName="github"></app-custom-icon-anchor-menu-button>
  <app-custom-icon-anchor-menu-button [name]="'MENU.REPORT' | translate" link="https://github.com/coenraadhuman/COVID-19_SA-Dashboard/issues" iconName="github"></app-custom-icon-anchor-menu-button>
  <app-icon-anchor-menu-button [name]="'MENU.BUILD' | translate" link="" iconName="present_to_all" ></app-icon-anchor-menu-button>
</mat-menu>

<mat-menu #infoMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="dataMenu">
    <span>{{ "MENU.DATA" | translate }}</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="apiMenu">
    <span>{{ "MENU.API" | translate }}</span>
  </button>
</mat-menu>

<mat-menu #apiMenu="matMenu">
  <app-anchor-menu-button [name]="'MENU.NOVELCOVID' | translate" link="https://github.com/novelcovid/api"></app-anchor-menu-button>
  <app-anchor-menu-button [name]="'MENU.DSFSI' | translate" link="https://github.com/dsfsi/covid19za/tree/master/api"></app-anchor-menu-button>
</mat-menu>

<mat-menu #dataMenu="matMenu">
  <app-anchor-menu-button [name]="'MENU.WORLDOMETERS' | translate" link="https://www.worldometers.info/coronavirus/"></app-anchor-menu-button>
  <app-anchor-menu-button [name]="'MENU.JOHNHOPKINS' | translate" link="https://github.com/CSSEGISandData/COVID-19"></app-anchor-menu-button>
</mat-menu>
