th {
  min-width: 90px;
}

.th-country {
  min-width: 240px;
}

.th-no {
  min-width: 35px;
}

.th-critical {
  min-width: 95px;
}

.th-recovered {
  min-width: 105px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.death {
  color: #FD7272;
}

.recover {
  color: #BDC581;
}

.active {
  color: #1B9CFC;
}
