<div class="container">
    <mat-card class="overview">
        <app-title [Title]="'OVERVIEW'"></app-title>
        <mat-card-content>
            <div class="overview-container">
                <div class="global">
                    <h3>{{ 'COMMON.GLOBAL' | translate }}</h3>
                    <app-progress-bar [loadState]="dataStore.isCaseDetailsLoaded"></app-progress-bar>
                    <div *ngIf="dataStore.isOverviewLoaded">
                        <p>{{ 'COMMON.TOTALCASES' | translate }}: {{ dataStore.globalStats.cases}}</p>
                        <p>{{ 'COMMON.DEATHS' | translate }}: {{ dataStore.globalStats.deaths }}</p>
                        <p>{{ 'COMMON.RECOVERED' | translate }}: {{ dataStore.globalStats.recovered }}</p>
                        <p>{{ 'COMMON.ACTIVECASES' | translate }}: {{ dataStore.globalStats.active}}</p>
                        <p>{{ 'COMMON.AFFECTEDCOUNTRIES' | translate }}: {{ dataStore.globalStats.affectedCountries}}</p>
                        <button mat-raised-button disabled color="primary">{{ 'BUTTONS.TIMELINE' | translate }}</button>
                    </div>
                </div>
                <div class="south-africa">
                    <h3><span class="flag-icon flag-icon-za"></span>{{ 'COMMON.SOUTHAFRICA' | translate }}</h3>
                    <app-progress-bar [loadState]="dataStore.isTableLoaded"></app-progress-bar>
                    <div *ngIf="dataStore.isTableLoaded">
                        <p>{{ 'COMMON.TOTALCASES' | translate }}: {{ dataStore.southAfrica.cases }}</p>
                        <p>{{ 'COMMON.DEATHS' | translate }}: {{ dataStore.southAfrica.deaths }}</p>
                        <p>{{ 'COMMON.RECOVERED' | translate }}: {{ dataStore.southAfrica.recovered }}</p>
                        <p>{{ 'COMMON.ACTIVECASES' | translate }}: {{ dataStore.southAfrica.active }}</p>
                        <p>{{ 'COMMON.CASESTODAY' | translate }}: {{ dataStore.southAfrica.todayCases }}</p>
                        <button mat-raised-button disabled color="primary">{{ 'BUTTONS.TIMELINE' | translate }}</button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="sa">
       <app-title [Title]="'SAPROVINCE'"></app-title>
        <mat-card-content>
            <app-progress-bar [loadState]="dataStore.isCaseDetailsLoaded"></app-progress-bar>
            <table mat-table [dataSource]=" dataStore.southAfricaCaseDetails.provinces" class="mat-elevation-z8" *ngIf="dataStore.isCaseDetailsLoaded">
                <ng-container matColumnDef="Number">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }} </td>
                </ng-container>

                <ng-container matColumnDef="Province">
                    <th mat-header-cell *matHeaderCellDef style="width: 110px"> Province </th>
                    <td mat-cell *matCellDef="let element">{{element.province}}</td>
                </ng-container>

                <ng-container matColumnDef="TotalCases">
                    <th mat-header-cell *matHeaderCellDef> Total Cases </th>
                    <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>

    <mat-card class="table">
        <mat-card-header>
            <mat-card-title>{{'COMMON.TOP10' | translate}} <button mat-raised-button color="primary" class="add-margin" routerLink="table-all-locations">{{'COMMON.SEEALL' | translate}}</button></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-progress-bar [loadState]="dataStore.isTableLoaded"></app-progress-bar>
            <app-stats-table [tableDataSource]="dataStore.topTenLocations" *ngIf="dataStore.isTableLoaded"></app-stats-table>
        </mat-card-content>
    </mat-card>
</div>
