mat-card {
  max-width: 623px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

th {
  min-width: 75px;
}

mat-card-content {
  overflow: auto;
}

.add-margin {
  margin-top: 10px;
}

@media screen and (min-width: 450px) {
  .overview-container {
    display: grid;
    grid-template-columns: auto auto;
    grid:
            'ov za';
  }

  .overview {
    grid-area: ov;
  }

  .south-africa {
    grid-area: za;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid:
            'overview table'
            'sa table';
  }

  .table {
    grid-area: table;
  }

  .sa {
    grid-area: sa;
  }

  .overview {
    grid-area: overview;
  }

  .add-margin {
    margin-top: 0px;
  }

  mat-card {
    max-width: 770px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1900px) {
  .overview-container {
    display: grid;
    grid-template-rows: auto auto;
    grid:
            'ov'
            'za';
  }

  .overview {
    grid-area: ov;
  }

  .south-africa {
    grid-area: za;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid:
            'overview sa table';
  }

  .table {
    grid-area: table;
  }

  .sa {
    grid-area: sa;
  }

  .overview {
    grid-area: overview;
  }

  .add-margin {
    margin-top: 0px;
  }

  mat-card {
    max-width: 983px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
}
