<table mat-table [dataSource]="tableDataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="Number">
        <th mat-header-cell *matHeaderCellDef class="th-no">{{ 'TABLECOLUMNS.NUMBER' | translate }}</th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="th-province" matTooltip="{{ 'TOOLTIP.SORT' | translate }}" mat-sort-header>{{ 'TABLECOLUMNS.PROVINCE' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
        <td mat-footer-cell *matFooterCellDef>Totals</td>
    </ng-container>

    <ng-container matColumnDef="totalCases">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'TOOLTIP.SORT' | translate }}" mat-sort-header>{{ 'TABLECOLUMNS.TOTALCASES' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.totalCases}} </td>
        <td mat-footer-cell *matFooterCellDef>{{ getTotalCases() }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
