th {
  min-width: 90px;
}

.th-country {
  min-width: 235px;
}

mat-card {
  max-width: 645px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

mat-card-content {
  overflow: auto;
}
