<mat-card *ngIf="dataStore.isTableLoaded">
    <mat-card-header>
        <mat-card-title>All Affected Countries</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="this.dataStore.locations" class="mat-elevation-z8">
            <ng-container matColumnDef="Number">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }} </td>
            </ng-container>

            <ng-container matColumnDef="Country">
                <th mat-header-cell *matHeaderCellDef class="th-country"> Country </th>
                <td mat-cell *matCellDef="let element"> {{element.country}} </td>
            </ng-container>

            <ng-container matColumnDef="TotalCases">
                <th mat-header-cell *matHeaderCellDef> Total Cases </th>
                <td mat-cell *matCellDef="let element"> {{element.cases}} </td>
            </ng-container>

            <ng-container matColumnDef="TotalDeaths">
                <th mat-header-cell *matHeaderCellDef> Total Deaths </th>
                <td mat-cell *matCellDef="let element"  style="color: lightsalmon;"> {{element.deaths}} </td>
            </ng-container>

            <ng-container matColumnDef="TotalRecovered">
                <th mat-header-cell *matHeaderCellDef> Total Recovered </th>
                <td mat-cell *matCellDef="let element" style="color: lightgreen;"> {{element.recovered}} </td>
            </ng-container>

            <ng-container matColumnDef="TotalActive">
                <th mat-header-cell *matHeaderCellDef> Total Active </th>
                <td mat-cell *matCellDef="let element" style="color: blue"> {{element.active}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>
